.footer {
    color: var(--text-color2);
    line-height: 1.71;
    font-style: normal;
    background-color: var(--background-color);
    letter-spacing: 0.03em;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__address-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 32px;
    }

    &__address {
        font-style: normal;
        background-color: var(--background-color);
        margin-top: 20px;
        gap: 9px;
        font-size: 14px;

        &-item {
            color: var(--text-color3);
            gap: 9px;
            margin-bottom: 9px;

            :focus,
            :hover {
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
                fill: var(--hover-color);
                color: var(--hover-color);
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-left: 70px;

        &-title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--text-color2);
            margin-left: 0;
            padding-top: 72px;
            margin-bottom: 20px;
            margin-right: 0;
        }

        &-list {
            display: flex;
            gap: 10px;
            padding-bottom: 100px;
        }

        &-item {
            display: flex;
            background-color: var(--background-color3);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;

            &:focus,
            &:hover {
                background: var(--hover-color);
                cursor: pointer;
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
            }
        }

        &-svg {
            fill: var(--text-color2);
        }
    }

    &__forms-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 78px;
        padding-top: 120px;
        padding-bottom: 94px;
    }

    &__forms {
        border: none;
        position: relative;
        padding: 0 0;
        margin: 0 0;

        &-title {
            position: absolute;
            top: -35px;
            font-weight: 700;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }

        &-mail {
            width: 358px;
            height: 50px;
            border: 1px solid var(--border-color);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            margin-right: 12px;
            background: transparent;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: var(--text3-color3);
            padding-left: 16px;
        }
    }
}