.header {
    border-bottom: 1px solid var(--border-bottom-color);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__list {
        font-weight: 500;
        line-height: 1.14;
        padding-block: 32px;
        letter-spacing: 0.02em;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 50px;
        }

        &:focus,
        &:hover {
            color: var(--hover-color);
            transition-duration: var(--transition-duration-main);
            transition-timing-function: var(--transition-timing-function-main);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-bottom: 1px;
        color: var(--text-color);

        &:focus,
        &:focus .header__icon,
        &:hover .header__icon {
            transition-duration: var(--transition-duration-main);
            transition-timing-function: var(--transition-timing-function-main);
            fill: var(--hover-color);
            color: var(--hover-color);
        }
    }

    &__icon {
        margin-right: 10px;
        margin-bottom: 1px;
        fill: var(--svg-color3);
    }
}