.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 528px;
    min-height: 581px;
    background: var(--text-color2);
    box-shadow: var(--box-shadow);
    border-radius: 4px;

    &__wrapper {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }

    &__form {
        &-group {
            position: relative;
            border: 0;
            margin: 0 0 28px 0;
            padding: 0;

            &:has(input:focus) .modal__form-icon {
                fill: var(--hover-color);
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
            }
        }

        &-icon {
            position: absolute;
            left: 15px;
            top: 14px;
        }

        &-feedback {
            width: 448px;
            height: 120px;
            resize: none;
            background-color: transparent;
            margin: 0 auto;
            padding: 12px 16px 12px 16px;
            border: 1px solid var(--border-color2);
            border-radius: 4px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;

            &:focus {
                outline: 0;
                border-color: var(--hover-color);
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
            }
        }
    }

    &__checkbox {
        position: relative;
        
        &-group {
            position: relative;

        &-link {
            text-decoration: underline;
            color: var(--hover-color);
        }
           
        &:has(.modal__checkbox-input:checked) .modal__checkbox-icon--unchecked {
                fill: var(--hover-color);
                background-color: var(--hover-color);
                border-radius: 2px;
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
            }
        }

        &-input {
            width: 16px;
            height: 15px;
            visibility: hidden;
            margin-top: -25px;
        }

        &-icon {
            &--checked {
                position: absolute;
                left: 3px;
                top: 4px;
                fill: var(--text-color2);
                cursor: pointer;
            }

            &--unchecked {
                position: absolute;
                left: 0px;
                top: 0px;
                fill: var(--logo-color2);
                cursor: pointer;
            }
        }
    }
}