.portfolio {
    &__filters {
        &-list {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 50px;
        }
    }

    &__work {
        &-list {
            display: flex;
            justify-items: center;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 30px;
            font-size: 16px;
        }

        &-item {
            border: 1px solid var(--border-bottom-color2);
            border-top: none;

            &:focus,
            &:hover {
                box-shadow: var(--box-shadow-hover2);
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(----transition-timing-function-main);
            }

            &:focus .portfolio__card-overlay,
            &:hover .portfolio__card-overlay {
                transform: translate(0, -295px);
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
            }
        }
    }

    &__card {
        &-thumb {
            position: relative;
            overflow: hidden;
        }

        &-title {
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            padding: 20px 24px 0 24px;
            margin-bottom: 4px;
        }

        &-subtitle {
            color: var(--text-color);
            line-height: 1.87;
            padding: 0 24px 20px 24px;
        }

        &-overlay {
            position: absolute;
            width: 370px;
            height: 296px;
            background-color: var(--background-color4);
            transform: translate(0, 0);
            transition-duration: var(--transition-duration-main);
            transition-timing-function: var(--transition-timing-function-main);
        }

        &-overlay-copy {
            line-height: 1.55;
            letter-spacing: 0.03em;
            color: var(--background-color2);
            padding: 49px 45px 49px 24px;
            font-size: 18px;
            margin: 0 auto;
        }

        &-link {
            &:hover {
                color: unset;
            }
        }
    }
}